#de {
    background: url("../images/product.jpg");
    background-size: cover;
}

.details {
    padding: 80px 0;
    overflow: hidden;
}

.details .fr {
    width: 600px;
}

.details .fl {
    position: relative;
    width: 500px;
    height: 384px;
    background: url("../images/set.png");
    background-size: 500px 384px;
}

.details .fl img {
    position: absolute;
    width: 60px;
    top: 0;
}

.details .fl img:last-child {
    right: 0;
}

.price {
    margin-bottom: 30px;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}

.price del {
    margin-left: 5px;
    font-size: 24px;
    color: #bcbcbc;
    font-weight: 600;
}

.details .fr h5 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;
}

.minus, .plus {
    transition: background-color .3s;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    background: #979797;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 45px 0 0 45px;
}

.plus {
    transform: rotate(180deg);
}

.control {
    margin-left: -6px;
    border: 0;
    position: relative;
    top: 0;
    background: #FAF7F3;
    margin-right: -4px;
    display: inline-block;
    width: 106px;
    padding: 6px 12px;
    height: 28px;
    text-align: center;
}

.de-btn {
    cursor: pointer;
    border: 0;
    margin-top: 30px;
    float: left;
    border-radius: 20px;
    min-width: 250px;
    margin-right: 20px;
    height: 45px;
    text-align: center;
    background-color: #cd9b33;
    color: #fff;
    font-weight: 700;
}

.de-btn:hover {
    background: black;
    color: white;
}

#two {
    background: url(../images/s1.png);
    background-size: 500px 384px;
}
#three {
    background: url(../images/s2.png);
    background-size: 500px 384px;
}

#four {
    background: url(../images/s3.png);
    background-size: 500px 384px;
}

#five {
    background: url(../images/s4.png);
    background-size: 500px 384px;
}

#six {
    background: url(../images/s5.png);
    background-size: 500px 384px;
}

#seven {
    background: url(../images/7.png);
    background-size: 500px 384px;
}

#eight {
    background: url(../images/8.png);
    background-size: 500px 384px;
}